<h1>Messages with <%= @other_user.full_name %></h1>
<div class="messages">
    <%= display_messages(@convo.messages, @user, @other_user) %>
</div>

<form action="/messages/<%= @other_user.name %>/new" method="post">
    <div class="form-row">
        <input id="msg-txt" name="new_message"></textarea>
        <input id="msg-go" type="submit" value="Send Message" />
    </div>
</form>
