@font-face {
    font-family: "Through The Night";
    src: url('../fonts/Through the night.ttf');
}
@font-face {
    font-family: "Rough Typewriter";
    src: url('../fonts/rough_typewriter.otf');
}

html {
    background:#E6D5B9;
}

body {


    font-family: "Through The Night";
    text-align: center;
    width: 730px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;

}
a {
    color: #000000;
    text-decoration: none;
}
a:clicked {
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: #cc0000;

}
nav {

    width: 730px;
    position: fixed;
    margin: auto;
    top: 0px;
    background: #E6D5B9;
    z-index: 50;
    box-shadow: 0px 5px 5px #000000;
    padding: 10px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.container {
    width: 730px;
    padding: 10px;
    position: fixed;
    margin: auto;
    bottom: 50px;
    top: 50px;
    overflow: scroll;
    z-index: 1;
    /*border-radius: 50px;*/
    background: url('../imgs/background.jpg') repeat-y center top;
}

#user_name {
    display: inline-block;
    margin: 0px;
    padding-left: 15px;
    color: #cc0000;
}


.post-li {

    padding: 0px;
    width: 400px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.post-row a, .post-row p{
    display: inline;
    color: #323232;
}

.user-info {
    text-align: left;
    height: 55px;
}
.post-row .username {
    position: relative;
    bottom: 15px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
.post-text {
    font-size: 1.3em;
    color: #4c4c4c;
    font-family: "Rough Typewriter";
}

.friends-container {
    text-align: left;
    padding: 20px;
    width: 400px;
    margin: auto;
    font-family: "Rough Typewriter";
}

.friends-container > p {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1em;
    font-family: "Through The Night";
}

.friends-container a {
    /*font-family: "Rough Typewriter";*/
}

.friend * {

    display: inline-block;

}

.friend input {
    font-family: "Through The Night";
    background-color:rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    border: 0px;
}
.friend input:hover {
    box-shadow: 0px 2px 5px #000000;
}

.convo-li {
    width: 300px;
    text-align: left;
    margin: auto;
}

.convo-li .convo-row {
    display: inline-block;
    width: 100%;

}
.convo-li .convo-row .message-head {
    font-family: "Rough Typewriter";
}

.post-form {
    width: 730px;
    padding: 10px;
    position: fixed;
    margin: auto;
    bottom: 0px;
    background: #E6D5B9;
    z-index: 50;
    box-shadow: 0px -3px 5px #000000;
}
input, textarea, select {
    font-family: "Rough Typewriter";
}
.post-form input[type="text"] {
    width: 200px;
    border-radius: 5px;
    line-height: 2em;
    border: 0;
    padding: 3px;
    font-family: "Rough Typewriter";
    padding-left: 5px;
}
.post-form input[type="submit"] {
    border: 0;
    background: #329932;
    border-radius: 5px;
    line-height: 2em;
    width:60px;
}
.form-row {
    width: 400px;
    height: 25px;
    position: relative;
    margin: auto;
    text-align: left; /*FIX HEADER OF EACH SECTION*/
}
.form-row label {
    position: absolute;
    width: 50%;
    left: 0px;
}
.form-row img {
    position: absolute;
    left: 80px;
    border-radius: 50%;
}
.form-row input {
    position: absolute;
    width: 50%;
    right: 0px;
    border: 0;
    border-radius: 5px;
}
.form-row input[type="submit"] {
    background: #329932;
}
.warning {
    color: #cc0000;
    text-align: center;
    /*text-shadow: 2px 2px 5px #000000;*/
}
#delete_button {
    background-color: #cc0000;
}
.post-user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.small-pic {
    width: 20px;
    height: 20px;
}
.send-msg {
    width: 60%;
    position: absolute;
    left: 20%;
    margin: auto;
}
#msg-select {
    position: static;
    border-radius: 5px;
    line-height: 2em;
    border: 0;
    padding: 3px;
    font-family: "Rough Typewriter";
}
#msg-txt {
    position: static;
    width: 200px;
    border-radius: 5px;
    line-height: 1.5em;
    border: 0;
    padding: 3px;
    font-family: "Rough Typewriter";
}
#msg-go, #comment-button {
    position: static;
    border: 0;
    background: #329932;
    border-radius: 5px;
    line-height: 1.5em;
    width:100px;
    font-family: "Rough Typewriter";
}

.message {
    width: 450px;
    text-align: left;
    margin: auto;
}

.message p {
    font-family: "Rough Typewriter";
}
.message b {
    font-family: "Through The Night";
    color: #cc0000;
}
