<h1>Sign Up</h1>

<form action="/signup" method="post">
    <div class="form-row">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="form-row">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" />
    </div>
    <div class="form-row">
        <label for="f_name">First Name:</label>
        <input type="text" name="f_name" placeholder="e.g. John" />
    </div>
    <div class="form-row">
        <label for="l_name">Last Name:</label>
        <input type="text" name="l_name" placeholder="e.g. Smith" />
    </div>
    <div class="form-row">
        <input type="submit" value="Sign Up" />
    </div>
</form>
