<h1>Editing post #<%= @post.id %></h1>

<form action="/post/<%= @post.id %>" method="post">
    <div class="form-row">
        <input type="text" name="p_text" id="msg-txt" value="<%= @post.text %>" />
        <input type="submit" name="save_post" id="msg-go" value="Save Changes" />
    </div>
</form>
